div.formbox {
    border : 2px solid #000000;
    width: fit-content;
}
input.title{
    width : 500px;
}
input.image_url{
    width : 500px;
}
input.published_year{
    width : 50px;
}
input.genre_name{
    width : 300px;
}
textarea.description {
    width : 500px;
    height : 200px;
    min-width: 500px;
    min-height: 100px;
    max-width: 500px;
    max-height: 300px;
  }