h1.bigtitle {
    text-align: center;
    font-size: 4vw;
}
div.mycnt {
    margin: 1vw;
    display: grid;
    grid-template-columns: 45vw 45vw;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15em,1fr));
    gap : 1vw;
}
div.listblock{
    margin: 0 auto;
}
div.gitems {
    border: 1px;
}
img.image {
    display: block;
    margin: auto;
    height: auto;
}
input {
    border: 2px #ff0000 double;
    }
.mycenter {
    text-align: center;
}
.textnowrap {
    white-space: nowrap;
}
.textforcewrap{
    word-wrap: break-word;
}
.movietitle {
    font-size: 100%;
}
.imgurl {
    font-size: 50%;
}